        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Event Besançon</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#porfolio">Events</a>
            </div>
        </header>
        <!-- Events Upcoming-->
        <%= render 'layouts/events/eventsUpcoming'%>

        <!-- Organize-->
        <%= render 'layouts/events/organize'%>
    
        <!-- Contact-->
        <%= render 'layouts/events/contact'%>
        